In [1]:
import pandas as pd 
import yfinance as yf
from datetime import datetime, timedelta

In [2]:
SP500_Url = "https://en.wikipedia.org/wiki/Nasdaq-100"
data_table = pd.read_html(
    SP500_Url,
    storage_options={"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 "
                                   "(KHTML, like Gecko) Chrome/123.0 Safari/537.36"}
)
data_table

[                                     0                                      1
 0   Nasdaq-100 Index from 1985 to 2015     Nasdaq-100 Index from 1985 to 2015
 1                           Foundation         January 31, 1985; 40 years ago
 2                             Operator                           Nasdaq, Inc.
 3                            Exchanges                                 Nasdaq
 4                       Trading symbol                            ^NDX or NDX
 5                         Constituents                                    101
 6                                 Type                              Large-cap
 7                           Market cap  US$25.34 trillion (as of May 1, 2025)
 8                     Weighting method     Free-float capitalization-weighted
 9                      Related indices                   Nasdaq Financial-100
 10                             Website                  nasdaq.com/nasdaq-100,
    Category  All-Time Highs[8]         All-Time Highs[8].1
 0   Closing           24761.07  Monday, September 22, 2025
 1  Intraday           24781.73  Monday, September 22, 2025,
     Milestone[9][obsolete source] (closing) Date of Record (closing)[9]  \
 0                                      1000                July 8, 1997
 1                                      2000            January 11, 1999
 2                                      3000           November 18, 1999
 3                                      4000            February 8, 2000
 4                                      5000             January 6, 2017
 5                                      6000          September 13, 2017
 6                                      7000            January 26, 2018
 7                                      8000               July 24, 2019
 8                                      9000            January 13, 2020
 9                                     10000               June 10, 2020
 10                                    11000              August 3, 2020
 11                                    12000             August 31, 2020
 12                                    13000             January 8, 2021
 13                                    14000              April 15, 2021
 14                                    15000               July 23, 2021
 15                                    16000            November 3, 2021
 16                                    17000            January 19, 2024
 17                                    18000           February 22, 2024
 18                                    19000                June 5, 2024
 19                                    20000                July 2, 2024
 20                                    21000            November 7, 2024
 21                                    22000           December 16, 2024
 22                                    23000               July 17, 2025
 23                                    24000          September 12, 2025

     Trading Days[9]
 0              3143
 1               381
 2               217
 3                55
 4              4255
 5               172
 6                93
 7               374
 8               119
 9               103
 10               37
 11               20
 12               90
 13               66
 14               69
 15               72
 16              554
 17               23
 18               72
 19               18
 20               90
 21               26
 22              144
 23               40  ,
     Year  Closing level Change in Index in Points Change in Index in %
 0   1985         132.29                       NaN                  NaN
 1   1986         141.41                      9.12                 6.89
 2   1987         156.25                     14.84                10.49
 3   1988         177.41                     21.16                13.54
 4   1989         223.84                     46.43                26.17
 5   1990         200.53                    −23.31               −10.41
 6   1991         330.86                    130.33                64.99
 7   1992         360.19                     29.33                 8.86
 8   1993         398.28                     38.09                10.57
 9   1994         404.27                      5.99                 1.50
 10  1995         576.23                    171.96                42.54
 11  1996         821.36                    245.13                42.54
 12  1997         990.80                    169.44                20.63
 13  1998        1836.01                    845.21                85.31
 14  1999        3707.83                   1871.81               101.95
 15  2000        2341.70                 −1,366.13               −36.84
 16  2001        1577.05                   −764.65               −32.65
 17  2002         984.36                   −592.69               −37.58
 18  2003        1467.92                    483.56                49.12
 19  2004        1621.12                    153.20                10.44
 20  2005        1645.20                     24.08                 1.49
 21  2006        1756.90                    111.70                 6.79
 22  2007        2084.93                    328.03                18.67
 23  2008        1211.65                   −873.28               −41.89
 24  2009        1860.31                    648.66                53.54
 25  2010        2217.86                    357.55                19.22
 26  2011        2277.83                     59.97                 2.70
 27  2012        2660.93                    383.10                16.82
 28  2013        3592.00                    931.07                34.99
 29  2014        4236.28                    644.28                17.94
 30  2015        4593.27                    356.99                 8.43
 31  2016        4863.62                    270.35                 5.89
 32  2017        6396.42                   1532.80                31.52
 33  2018        6329.96                    −66.46                −1.04
 34  2019        8733.07                   2403.11                37.96
 35  2020       12888.28                   4155.21                47.58
 36  2021       16320.08                   3431.80                26.63
 37  2022       10939.76                 −5,380.32               −32.97
 38  2023       16825.93                   5886.17                53.81
 39  2024       21012.17                   4186.24                24.88,
     Ticker                  Company             GICS Sector  \
 0     ADBE               Adobe Inc.  Information Technology
 1      AMD   Advanced Micro Devices  Information Technology
 2     ABNB                   Airbnb  Consumer Discretionary
 3    GOOGL  Alphabet Inc. (Class A)  Communication Services
 4     GOOG  Alphabet Inc. (Class C)  Communication Services
 ..     ...                      ...                     ...
 96    VRTX   Vertex Pharmaceuticals             Health Care
 97     WBD   Warner Bros. Discovery  Communication Services
 98    WDAY            Workday, Inc.  Information Technology
 99     XEL              Xcel Energy               Utilities
 100     ZS                  Zscaler  Information Technology

                   GICS Sub-Industry
 0              Application Software
 1                    Semiconductors
 2    Hotels, Resorts & Cruise Lines
 3      Interactive Media & Services
 4      Interactive Media & Services
 ..                              ...
 96                    Biotechnology
 97                     Broadcasting
 98             Application Software
 99                  Multi-Utilities
 100            Application Software

 [101 rows x 4 columns],
                   Date  Added                        Removed  \
                   Date Ticker               Security  Ticker
 0        July 28, 2025    TRI        Thomson Reuters     NaN
 1        July 17, 2025    NaN                    NaN    ANSS
 2         May 19, 2025   SHOP                Shopify     MDB
 3    December 23, 2024   PLTR  Palantir Technologies    ILMN
 4    December 23, 2024   MSTR          MicroStrategy    MRNA
 ..                 ...    ...                    ...     ...
 202      July 12, 2007   FWLT         Foster Wheeler    BMET
 203       June 1, 2007   CEPH               Cephalon    MEDI
 204      March 8, 2007   UAUA        UAL Corporation    AEOS
 205  February 14, 2007  RYAAY                Ryanair    APCC
 206   February 1, 2007   LOGI               Logitech    CMVT

                                 \
                       Security
 0                          NaN
 1                        Ansys
 2                      MongoDB
 3                      Ilumina
 4                      Moderna
 ..                         ...
 202                     Biomet
 203                  MedImmune
 204  American Eagle Outfitters
 205  American Power Conversion
 206        Comverse Technology

                                                 Reason
                                                 Reason
 0     Thomson Reuters replaced Ansys in the index.[15]
 1                      Ansys was acquired by Synopsys.
 2    MongoDB did not meet the minimum monthly weigh...
 3                     Annual index reconstitution.[17]
 4                     Annual index reconstitution.[17]
 ..                                                 ...
 202                     Biomet was taken private.[110]
 203        MedImmune was acquired by AstraZeneca.[111]
 204  American Eagle Outfitters transferred its list...
 205       APC was acquired by Schneider Electric.[114]
 206  Comverse did not meet the minimum monthly weig...

 [207 rows x 6 columns],
                 vteCompanies of the Nasdaq-100 index  \
 0  Adobe ADP AMD Airbnb Alphabet Amazon AEP Amgen...

               vteCompanies of the Nasdaq-100 index.1
 0  Adobe ADP AMD Airbnb Alphabet Amazon AEP Amgen...  ,
                                      vteNasdaq, Inc.  \
 0  Operator of the Nasdaq, Nasdaq Baltic and Nasd...
 1                                          Exchanges
 2                                       Main indices
 3                                     Other holdings

                                    vteNasdaq, Inc..1  \
 0  Operator of the Nasdaq, Nasdaq Baltic and Nasd...
 1  Nasdaq BX Canada GEMX ISE MRX Nasdaq NOM PHLX ...
 2  Nasdaq 100 Composite Nasdaq Baltic Baltic 10 N...
 3  Adenza Longitude Nasdaq MarketSite Nasdaq Priv...

                                    vteNasdaq, Inc..2
 0  Operator of the Nasdaq, Nasdaq Baltic and Nasd...
 1                                                NaN
 2                                                NaN
 3                                                NaN  ,
    vteStock market indices                          vteStock market indices.1
 0                   Global  Equities MSCI ACWI Index MSCI World S&P Global...
 1                 Equities  MSCI ACWI Index MSCI World S&P Global 100 S&P ...
 2              Commodities  Bloomberg Commodity Index S&P GSCI Deutsche Ba...
 3                 Regional  Asia S&P Asia 50 Europe EURO STOXX 50 STOXX Eu...
 4                     Asia                                        S&P Asia 50
 5                   Europe  EURO STOXX 50 STOXX Europe 600 FTSEurofirst 30...
 6            Latin America                               S&P Latin America 40
 7                    Other                                 MSCI EAFE MSCI GCC
 8         Industry indices  Energy Amex Oil Index Electronics PHLX Semicon...
 9                   Energy                                     Amex Oil Index
 10             Electronics                   PHLX Semiconductor Sector TecDax
 11                  Metals  HUI Gold Index Philadelphia Gold and Silver Index
 12             Real estate                              CBV Real Estate Index
 13                   Water                              Palisades Water Index
 14                   Other                                   Baltic Dry Index
 15                Americas  USMajor Dow Jones Industrial Average NYSE Comp...
 16                      US  Major Dow Jones Industrial Average NYSE Compos...
 17                   Major  Dow Jones Industrial Average NYSE Composite Na...
 18                   Other  Dow Jones Transportation Average Dow Jones Uti...
 19                  Canada                 S&P/TSX 60 S&P/TSX Composite Index
 20                   Other  Indice de Precios y Cotizaciones (Mexico) COLC...
 21                  Europe  UK FT 30 FTSE 100 Index FTSE 250 Index FTSE 35...
 22                      UK  FT 30 FTSE 100 Index FTSE 250 Index FTSE 350 I...
 23                  France  CAC 40 CAC Next 20 CAC Mid 60 CAC Small CAC Al...
 24                   Other  AEX ATX BEL 20 BUX DAX FTSE MIB IBEX 35 ISEQ 2...
 25                    Asia  China SSE Composite SZSE Component SSE 50 Inde...
 26                   China  SSE Composite SZSE Component SSE 50 Index SSE ...
 27                   India  BSE SENSEX NIFTY 50 NIFTY Next 50 NIFTY 500 GI...
 28                   Japan                     Nikkei 225 TOPIX S&P/TOPIX 150
 29             South Korea                             KOSPI KOSPI 200 KOSDAQ
 30                   Other  KASE (Kazakhstan) KSE (Kyrgyzstan) Tashkent (U...
 31                 Oceania  Australia S&P/ASX 20 S&P/ASX 50 S&P/ASX 200 S&...
 32               Australia  S&P/ASX 20 S&P/ASX 50 S&P/ASX 200 S&P/ASX 300 ...
 33             New Zealand                                   S&P/NZX 50 Index
 34                  Africa                     EGX 30 JSE Top 40 MADEX NSE 30,
              0                                                  1
 0     Equities  MSCI ACWI Index MSCI World S&P Global 100 S&P ...
 1  Commodities  Bloomberg Commodity Index S&P GSCI Deutsche Ba...,
                0                                                  1
 0           Asia                                        S&P Asia 50
 1         Europe  EURO STOXX 50 STOXX Europe 600 FTSEurofirst 30...
 2  Latin America                               S&P Latin America 40
 3          Other                                 MSCI EAFE MSCI GCC,
              0                                                  1
 0       Energy                                     Amex Oil Index
 1  Electronics                   PHLX Semiconductor Sector TecDax
 2       Metals  HUI Gold Index Philadelphia Gold and Silver Index
 3  Real estate                              CBV Real Estate Index
 4        Water                              Palisades Water Index
 5        Other                                   Baltic Dry Index,
         0                                                  1
 0      US  Major Dow Jones Industrial Average NYSE Compos...
 1   Major  Dow Jones Industrial Average NYSE Composite Na...
 2   Other  Dow Jones Transportation Average Dow Jones Uti...
 3  Canada                 S&P/TSX 60 S&P/TSX Composite Index
 4   Other  Indice de Precios y Cotizaciones (Mexico) COLC...,
        0                                                  1
 0  Major  Dow Jones Industrial Average NYSE Composite Na...
 1  Other  Dow Jones Transportation Average Dow Jones Uti...,
         0                                                  1
 0      UK  FT 30 FTSE 100 Index FTSE 250 Index FTSE 350 I...
 1  France  CAC 40 CAC Next 20 CAC Mid 60 CAC Small CAC Al...
 2   Other  AEX ATX BEL 20 BUX DAX FTSE MIB IBEX 35 ISEQ 2...,
              0                                                  1
 0        China  SSE Composite SZSE Component SSE 50 Index SSE ...
 1        India  BSE SENSEX NIFTY 50 NIFTY Next 50 NIFTY 500 GI...
 2        Japan                     Nikkei 225 TOPIX S&P/TOPIX 150
 3  South Korea                             KOSPI KOSPI 200 KOSDAQ
 4        Other  KASE (Kazakhstan) KSE (Kyrgyzstan) Tashkent (U...,
              0                                                  1
 0    Australia  S&P/ASX 20 S&P/ASX 50 S&P/ASX 200 S&P/ASX 300 ...
 1  New Zealand                                   S&P/NZX 50 Index,
          vteMajor United States stock market indices  \
 0  Dow Jones Industrial Average historical compon...

        vteMajor United States stock market indices.1
 0  Dow Jones Industrial Average historical compon...  ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5            Índice de Precios Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ]

In [3]:
tickers = data_table[4]["Ticker"].tolist()

In [4]:
supp = ['ASML', 'AZN', 'F', 'G', 'GOOGL', 'H', 'I', 'J', 'L', 'O', 'Q', 'R', 'U', 'VRSK', 'W', 'Y']

tickers = [x for x in tickers if x not in supp]
print(len(tickers), len(supp))

97 16

In [5]:
# Extraction des données
Date = data_table[5]['Date']
Removed = data_table[5]['Removed']['Ticker']  # Supposant que 'Removed' est un DataFrame ou Series
Added = data_table[5]['Added']['Ticker']      # Supposant que 'Added' est un DataFrame ou Series

# Combinaison des données dans un DataFrame
Data_Change = pd.concat([Date, Added, Removed], axis = 1)

#Date au format Date
Data_Change['Date'] = pd.to_datetime(Data_Change['Date'])

# Changer le format de la date en 'jour/mois/année'
Data_Change['Date'] = Data_Change['Date'].dt.strftime('%Y-%m-%d')


# Renommer toutes les colonnes
Data_Change.columns = ['Date', 'Added', 'Removed']

# Mettre 'colonne_a' en tant qu'index
Data_Change.set_index('Date', inplace=True)

# Nan en vide
Data_Change = Data_Change.fillna('')

Data_Change

            Added Removed
Date
2025-07-28    TRI
2025-07-17           ANSS
2025-05-19   SHOP     MDB
2024-12-23   PLTR    ILMN
2024-12-23   MSTR    MRNA
...           ...     ...
2007-07-12   FWLT    BMET
2007-06-01   CEPH    MEDI
2007-03-08   UAUA    AEOS
2007-02-14  RYAAY    APCC
2007-02-01   LOGI    CMVT

[207 rows x 2 columns]

In [6]:
len(tickers)

97

In [7]:
# Supposons que la liste tickers ait déjà 503 éléments au départ
# tickers = ['AAPL', 'MSFT', ...]  # Exemples de tickers initiaux

# Initialiser un dictionnaire vide
dict = {}

# Boucle pour parcourir les données et mettre à jour le dictionnaire
for i in range(0, len(Data_Change)):
    
    # Ajouter les nouveaux tickers (si ce n'est pas déjà un ensemble vide)
    tickers.extend(Data_Change.Added[i])
    
    # Essayer de supprimer les tickers retirés, si possible
    try:
        tickers = [t for t in tickers if t not in Data_Change.Removed[i]]  # Supprimer les tickers retirés
    except ValueError:
        # Si l'élément à supprimer n'existe pas dans la liste, continuer sans erreur
        pass
    
    # Trier les tickers
    tickers = sorted(set(tickers))  # Utilisation de set pour éviter les doublons

    # Ajouter une **copie** de la liste `tickers` dans le dictionnaire
    dict[Data_Change.index[i]] = tickers.copy()

df = pd.DataFrame(list(dict.items()), columns=['date', 'tickers'])

df['date'] = pd.to_datetime(df['date'])

# Mettre la colonne 'date' comme index
df.set_index('date', inplace=True)

df

/var/folders/6k/82j2nnl13hj9ld7nmzpdt6fh0000gn/T/ipykernel_1477/1527443372.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  tickers.extend(Data_Change.Added[i])
/var/folders/6k/82j2nnl13hj9ld7nmzpdt6fh0000gn/T/ipykernel_1477/1527443372.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  tickers = [t for t in tickers if t not in Data_Change.Removed[i]]  # Supprimer les tickers retirés

                                                      tickers
date
2025-07-28  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...
2025-07-17  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...
2025-05-19  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...
2024-12-23  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA...
2024-11-18  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA...
...                                                       ...
2007-07-12  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA...
2007-06-01  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA...
2007-03-08  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...
2007-02-14  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...
2007-02-01  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...

[100 rows x 1 columns]

In [8]:
# Récupère l'index en liste
new_index = list(df.index)

# Remplace la première valeur
new_index[0] = datetime.today().date()

# Réapplique l'index modifié
df.index = pd.to_datetime(new_index)

In [9]:
df

                                                      tickers
2025-10-07  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...
2025-07-17  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...
2025-05-19  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...
2024-12-23  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA...
2024-11-18  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA...
...                                                       ...
2007-07-12  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA...
2007-06-01  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA...
2007-03-08  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...
2007-02-14  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...
2007-02-01  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ...

[100 rows x 1 columns]

In [10]:

data_SP500_old = pd.read_parquet('/Users/forget/Library/Mobile Documents/com~apple~CloudDocs/Project Stock Market Deep Learning/Data/data_NASDAQ.parquet')
last_date = data_SP500_old['Date'].sort_values(ascending=True).iloc[-1] + timedelta(days=1)
last_date

Timestamp('2025-10-04 00:00:00')

In [11]:

df['Last_Date'] = last_date
df

                                                      tickers  Last_Date
2025-10-07  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ... 2025-10-04
2025-07-17  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ... 2025-10-04
2025-05-19  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ... 2025-10-04
2024-12-23  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA... 2025-10-04
2024-11-18  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA... 2025-10-04
...                                                       ...        ...
2007-07-12  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA... 2025-10-04
2007-06-01  [A, AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMA... 2025-10-04
2007-03-08  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ... 2025-10-04
2007-02-14  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ... 2025-10-04
2007-02-01  [AAPL, ABNB, ADBE, ADI, ADP, ADSK, AEP, AMAT, ... 2025-10-04

[100 rows x 2 columns]

In [12]:

# Initialiser une DataFrame vide pour stocker toutes les données
data_SP500 = pd.DataFrame()

df = df.explode('tickers')
end_date = df[df.index > last_date].groupby('tickers').apply(lambda x: x.index.max())

# Combiner les résultats dans une nouvelle DataFrame
resultat = pd.DataFrame({'Start': last_date, 'End': end_date})
resultat

/var/folders/6k/82j2nnl13hj9ld7nmzpdt6fh0000gn/T/ipykernel_1477/2328952231.py:5: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  end_date = df[df.index > last_date].groupby('tickers').apply(lambda x: x.index.max())

             Start        End
tickers
AAPL    2025-10-04 2025-10-07
ABNB    2025-10-04 2025-10-07
ADBE    2025-10-04 2025-10-07
ADI     2025-10-04 2025-10-07
ADP     2025-10-04 2025-10-07
...            ...        ...
VRTX    2025-10-04 2025-10-07
WBD     2025-10-04 2025-10-07
WDAY    2025-10-04 2025-10-07
XEL     2025-10-04 2025-10-07
ZS      2025-10-04 2025-10-07

[100 rows x 2 columns]

In [13]:
"""
# Initialiser une DataFrame vide pour stocker toutes les données
data_SP500 = pd.DataFrame()

df = df.explode('tickers')
start_date = df.groupby('tickers').apply(lambda x: x.index.min())
end_date = df.groupby('tickers').apply(lambda x: x.index.max())

# Combiner les résultats dans une nouvelle DataFrame
resultat = pd.DataFrame({'Start': start_date, 'End': end_date})
resultat
"""

"\n# Initialiser une DataFrame vide pour stocker toutes les données\ndata_SP500 = pd.DataFrame()\n\ndf = df.explode('tickers')\nstart_date = df.groupby('tickers').apply(lambda x: x.index.min())\nend_date = df.groupby('tickers').apply(lambda x: x.index.max())\n\n# Combiner les résultats dans une nouvelle DataFrame\nresultat = pd.DataFrame({'Start': start_date, 'End': end_date})\nresultat\n"

In [14]:
# Télécharger les données pour chaque ticker
for ticker in resultat.index:
    start_date = resultat.loc[ticker, 'Start']
    end_date = resultat.loc[ticker, 'End']

    print(f"Téléchargement des données pour {ticker} de {start_date} à {end_date}")

    # Télécharger les données de l'action entre les dates spécifiées
    data = yf.download(
                        ticker,
                        start=start_date,
                        end=end_date,
                        interval="1d",
                        auto_adjust=True,
                        actions=False
                        )

    # Ajouter une colonne pour identifier le ticker
    data['Ticker'] = ticker

    # On retire le niveau des tickers pour ne garder que 'Close' et 'Volume'
    data.columns = data.columns.droplevel(level=1)
    
    # Concaténer les données dans la DataFrame globale
    data_SP500 = pd.concat([data_SP500, data])

# Affichage de la DataFrame résultante
data_SP500

Téléchargement des données pour AAPL de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour ABNB de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour ADBE de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour ADI de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour ADP de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour ADSK de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour AEP de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour AMAT de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour AMD de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour AMGN de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour AMZN de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour APP de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour ARM de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour AVGO de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour AXON de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour BIIB de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour BKNG de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour BKR de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour CCEP de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour CDNS de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour CDW de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour CEG de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour CHTR de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour CMCSA de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour COST de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour CPRT de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour CRWD de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour CSCO de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour CSGP de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour CSX de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour CTAS de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour CTSH de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour DASH de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour DDOG de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour DXCM de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour EA de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour EXC de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour FANG de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour FAST de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour FTNT de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour GEHC de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour GFS de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour GILD de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour GOOG de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour HON de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour I de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['I']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour IDXX de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour INTC de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour INTU de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour ISRG de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour KDP de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour KHC de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour KLAC de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour LIN de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour LRCX de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour LULU de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour MAR de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour MCHP de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour MDLZ de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour MELI de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour META de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour MNST de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour MRVL de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour MSFT de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour MSTR de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour MU de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour NFLX de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour NVDA de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour NXPI de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour ODFL de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour ON de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour ORLY de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour PANW de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour PAYX de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour PCAR de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour PDD de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour PEP de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour PLTR de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour PYPL de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour QCOM de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour R de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour REGN de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour ROP de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour ROST de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour SBUX de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour SHOP de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour SNPS de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour T de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour TEAM de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour TMUS de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour TRI de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour TSLA de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour TTD de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour TTWO de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour TXN de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour VRTX de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour WBD de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour WDAY de 2025-10-04 00:00:00 à 2025-10-07 00:00:00
Téléchargement des données pour XEL de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour ZS de 2025-10-04 00:00:00 à 2025-10-07 00:00:00

Price,Close,High,Low,Open,Volume,Ticker,Adj Close
Date,,,,,,,
2025-10-06,256.690002,259.070007,255.050003,257.989990,44292200.0,AAPL,NaN
2025-10-06,120.349998,123.150002,120.050003,120.730003,5469000.0,ABNB,NaN
2025-10-06,350.140015,357.339996,342.040009,346.929993,5326600.0,ADBE,NaN
2025-10-06,242.500000,245.009995,238.919998,245.009995,3863100.0,ADI,NaN
2025-10-06,290.549988,291.950012,288.489990,291.500000,1703700.0,ADP,NaN
...,...,...,...,...,...,...,...
2025-10-06,402.899994,405.450012,400.739990,404.660004,1191100.0,VRTX,NaN
2025-10-06,19.080000,19.180000,18.879999,19.030001,17518400.0,WBD,NaN
2025-10-06,238.360001,243.949997,234.690002,235.660004,2253000.0,WDAY,NaN
2025-10-06,81.000000,81.279999,79.889999,80.410004,4082600.0,XEL,NaN
2025-10-06,305.239990,311.000000,303.769989,307.399994,981200.0,ZS,NaN

In [15]:
data_SP500 = data_SP500.reset_index()
data_SP500

Price,Date,Close,High,Low,Open,Volume,Ticker,Adj Close
0,2025-10-06,256.690002,259.070007,255.050003,257.989990,44292200.0,AAPL,NaN
1,2025-10-06,120.349998,123.150002,120.050003,120.730003,5469000.0,ABNB,NaN
2,2025-10-06,350.140015,357.339996,342.040009,346.929993,5326600.0,ADBE,NaN
3,2025-10-06,242.500000,245.009995,238.919998,245.009995,3863100.0,ADI,NaN
4,2025-10-06,290.549988,291.950012,288.489990,291.500000,1703700.0,ADP,NaN
...,...,...,...,...,...,...,...,...
94,2025-10-06,402.899994,405.450012,400.739990,404.660004,1191100.0,VRTX,NaN
95,2025-10-06,19.080000,19.180000,18.879999,19.030001,17518400.0,WBD,NaN
96,2025-10-06,238.360001,243.949997,234.690002,235.660004,2253000.0,WDAY,NaN
97,2025-10-06,81.000000,81.279999,79.889999,80.410004,4082600.0,XEL,NaN
98,2025-10-06,305.239990,311.000000,303.769989,307.399994,981200.0,ZS,NaN

In [16]:
df_concat = pd.concat([data_SP500, data_SP500_old])
df_concat

Price,Date,Close,High,Low,Open,Volume,Ticker,Adj Close
0,2025-10-06,256.690002,259.070007,255.050003,257.989990,44292200.0,AAPL,NaN
1,2025-10-06,120.349998,123.150002,120.050003,120.730003,5469000.0,ABNB,NaN
2,2025-10-06,350.140015,357.339996,342.040009,346.929993,5326600.0,ADBE,NaN
3,2025-10-06,242.500000,245.009995,238.919998,245.009995,3863100.0,ADI,NaN
4,2025-10-06,290.549988,291.950012,288.489990,291.500000,1703700.0,ADP,NaN
...,...,...,...,...,...,...,...,...
200,2025-10-03,187.619995,190.360001,185.380005,189.190002,137340500.0,NVDA,NaN
98,2025-10-03,271.220001,272.440002,268.140015,270.000000,2417200.0,DASH,NaN
197,2025-10-03,1153.319946,1168.000000,1143.219971,1165.000000,3133100.0,NFLX,NaN
59,2025-10-03,347.269989,353.149994,345.000000,347.239990,1056300.0,CDNS,NaN
296,2025-10-03,305.410004,309.790009,301.709991,308.070007,977600.0,ZS,NaN

In [17]:
df_concat.sort_values(by=['Date'], ascending=True, inplace=True)
df_concat.tail(50)

Price,Date,Close,High,Low,Open,Volume,Ticker,Adj Close
49,2025-10-06,25.299999,25.830000,25.190001,25.799999,23702900.0,KDP,NaN
51,2025-10-06,1139.709961,1152.119995,1121.680054,1121.680054,946000.0,KLAC,NaN
77,2025-10-06,71.290001,71.870003,69.452003,70.220001,16586300.0,PYPL,NaN
78,2025-10-06,168.619995,170.880005,167.720001,170.539993,8262100.0,QCOM,NaN
79,2025-10-06,194.220001,195.479996,189.960007,192.919998,297300.0,R,NaN
80,2025-10-06,585.479980,603.650024,584.409973,602.000000,1071900.0,REGN,NaN
81,2025-10-06,506.989990,507.359985,497.119995,501.899994,1210200.0,ROP,NaN
82,2025-10-06,152.259995,153.460007,151.199997,152.240005,2669700.0,ROST,NaN
83,2025-10-06,82.110001,86.290001,82.059998,86.290001,14978700.0,SBUX,NaN
84,2025-10-06,164.500000,169.690002,162.809998,166.550003,11311800.0,SHOP,NaN
85,2025-10-06,478.220001,481.230011,469.549988,471.989990,1594400.0,SNPS,NaN
86,2025-10-06,25.870001,26.719999,25.840000,26.540001,63433000.0,T,NaN
87,2025-10-06,150.190002,156.774994,148.250000,151.770004,3914500.0,TEAM,NaN
88,2025-10-06,224.960007,229.059998,222.259995,228.570007,6169500.0,TMUS,NaN
89,2025-10-06,152.029999,154.240005,150.919998,154.240005,1398700.0,TRI,NaN
90,2025-10-06,453.250000,453.549988,436.690002,440.750000,84866800.0,TSLA,NaN
91,2025-10-06,53.139999,53.740002,50.889999,52.389999,12555400.0,TTD,NaN
92,2025-10-06,256.980011,259.959991,256.100006,258.649994,1397100.0,TTWO,NaN
93,2025-10-06,181.809998,183.229996,179.300003,181.000000,5951200.0,TXN,NaN
94,2025-10-06,402.899994,405.450012,400.739990,404.660004,1191100.0,VRTX,NaN
95,2025-10-06,19.080000,19.180000,18.879999,19.030001,17518400.0,WBD,NaN
96,2025-10-06,238.360001,243.949997,234.690002,235.660004,2253000.0,WDAY,NaN
97,2025-10-06,81.000000,81.279999,79.889999,80.410004,4082600.0,XEL,NaN
76,2025-10-06,179.529999,182.949997,177.830002,179.179993,52383400.0,PLTR,NaN
50,2025-10-06,25.270000,25.959999,25.240000,25.910000,12552200.0,KHC,NaN
75,2025-10-06,139.699997,141.850006,138.880005,141.770004,6744100.0,PEP,NaN
73,2025-10-06,98.519997,99.580002,97.300003,98.160004,3159000.0,PCAR,NaN
52,2025-10-06,468.549988,470.570007,465.100006,466.730011,1539000.0,LIN,NaN
53,2025-10-06,149.149994,153.699997,149.119995,149.899994,11212900.0,LRCX,NaN
54,2025-10-06,174.119995,177.190002,172.300003,174.470001,3690300.0,LULU,NaN
55,2025-10-06,271.940002,273.100006,267.899994,269.170013,2064700.0,MAR,NaN
56,2025-10-06,66.589996,67.769997,64.349998,67.230003,6409000.0,MCHP,NaN
57,2025-10-06,61.779999,62.549999,61.439999,62.549999,7882100.0,MDLZ,NaN
58,2025-10-06,2154.219971,2178.310059,2116.000000,2178.310059,636600.0,MELI,NaN
59,2025-10-06,715.659973,716.880005,690.510010,705.190002,21624300.0,META,NaN
60,2025-10-06,67.089996,67.230003,66.330002,67.110001,3254000.0,MNST,NaN
61,2025-10-06,88.919998,90.250000,88.250000,88.849998,20556500.0,MRVL,NaN
62,2025-10-06,528.570007,531.030029,518.200012,518.609985,21365200.0,MSFT,NaN
63,2025-10-06,359.690002,365.209991,354.700012,362.950012,9524000.0,MSTR,NaN
64,2025-10-06,190.960007,201.000000,189.429993,195.009995,36333100.0,MU,NaN
65,2025-10-06,1163.310059,1163.579956,1145.449951,1160.369995,2954800.0,NFLX,NaN
66,2025-10-06,185.539993,187.229996,183.330002,185.500000,156436000.0,NVDA,NaN
67,2025-10-06,231.419998,234.000000,227.100006,232.059998,1949000.0,NXPI,NaN
68,2025-10-06,142.820007,145.080002,140.039993,141.520004,1477400.0,ODFL,NaN
69,2025-10-06,50.349998,50.700001,48.840000,50.130001,7675600.0,ON,NaN
70,2025-10-06,103.300003,105.230003,102.529999,104.910004,4159200.0,ORLY,NaN
71,2025-10-06,212.580002,213.850006,209.130005,209.369995,7284200.0,PANW,NaN
72,2025-10-06,124.370003,124.959999,123.260002,124.959999,2936000.0,PAYX,NaN
74,2025-10-06,134.330002,135.360001,132.970001,134.279999,6959700.0,PDD,NaN
0,2025-10-06,256.690002,259.070007,255.050003,257.989990,44292200.0,AAPL,NaN

In [18]:
df_concat['Date'].max()

Timestamp('2025-10-06 00:00:00')

In [19]:
# Sauvegarder la DataFrame résultante dans un fichier CSV
#data_SP500.to_csv('/Users/forget/PyCharmMiscProject/historical_data_S&P500_From_Wiki.csv')

In [20]:
"""
mask_1 = data_SP500[(data_SP500['Ticker'] == 'NVR') & (data_SP500['Date'] < '1993-10-01')]
mask_2 = data_SP500[(data_SP500['Ticker'] == 'HUBB') & (data_SP500['Date'] < '1994-10-31')]
mask_3 = data_SP500[(data_SP500['Date'] == '1984-12-31') & (data_SP500['Ticker'] == 'BEN')]
"""

"\nmask_1 = data_SP500[(data_SP500['Ticker'] == 'NVR') & (data_SP500['Date'] < '1993-10-01')]\nmask_2 = data_SP500[(data_SP500['Ticker'] == 'HUBB') & (data_SP500['Date'] < '1994-10-31')]\nmask_3 = data_SP500[(data_SP500['Date'] == '1984-12-31') & (data_SP500['Ticker'] == 'BEN')]\n"

In [21]:
"""
idx_to_drop = mask_1.index.union(mask_2.index).union(mask_3.index)
data_SP500 = data_SP500.drop(index=idx_to_drop).copy()
"""

'\nidx_to_drop = mask_1.index.union(mask_2.index).union(mask_3.index)\ndata_SP500 = data_SP500.drop(index=idx_to_drop).copy()\n'

In [22]:
df_concat.to_parquet("/Users/forget/Library/Mobile Documents/com~apple~CloudDocs/Project Stock Market Deep Learning/Data/data_NASDAQ.parquet")